*.sdf
*.opensdf
*.suo
*.user
*.pdb
*/Debug/*
*\Debug\*
*.tlog
*.lastbuildstate
*.log
*.swp
*~
*.exe
*/include
*\include
*/lib
*\lib

#Following ignores were taken from:
#http://stackoverflow.com/questions/1287256/git-net-files-to-ignore
#for precaution
*.dep
*.aps
*.vbw
*.ncb
*.pgl
*.bsc
*.ilk
*.exp
*.sbr
*.opt
*.ibd
*.idb
*.pch
*.res